body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}
@media(max-width:768px)
{
    nav ul{
        grid-template-columns:repeat(2,1fr);
    }
}
nav ul li {
 background-color: #350;
}
nav ul li:hover{

}

@media (max-width:480px) {
    nav ul {
        grid-template-columns: 1fr;

    }
    
}
nav ul {
    list-style: none;
    padding: 0;

    display:grid;
    grid-template-columns: repeat(4,1fr);
}

nav ul li {
 
 
    border:2px solid white;

    margin-right: 15px;

}

nav a{
    color:white;
    text-decoration:none;
    display:block;
    padding:10px;
}

nav a:hover{
    background-color:red;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

form {
    max-width: 500px;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
}

button {
    padding: 10px 15px;
    cursor: pointer;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}